table {
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid #000;
}

th {
  background-color:rgb(53, 115, 213);
  color: white;
  font-size: 16px;
}

tbody {
  font-size: 12px;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.status-pill {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approved {
  background-color:rgb(38, 183, 38);
}

.not-approved {
  background-color:rgb(233, 61, 61);
}
